<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.workorder.ticket.persistence.dao.FlowTemplateDao" >
  <resultMap id="BaseResultMap" type="com.workorder.ticket.persistence.entity.FlowTemplate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="flow_engine_definition_id" property="flowEngineDefinitionId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, flow_engine_definition_id, name, code, description, comment, create_time
  </sql>
  <select id="getOneByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    	<include refid="Base_Column_List" />
    FROM flow_template
    WHERE code = #{code,jdbcType=BIGINT}
    ORDER BY create_time DESC
    LIMIT 0,1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    DELETE FROM flow_template
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.workorder.ticket.persistence.entity.FlowTemplate" >
    INSERT INTO flow_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="flowEngineDefinitionId != null" >
        flow_engine_definition_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="flowEngineDefinitionId != null" >
        #{flowEngineDefinitionId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 <update id="updateByPrimaryKeySelective" parameterType="com.workorder.ticket.persistence.entity.FlowTemplate">
    update flow_template
    <set>
      <if test="flowEngineDefinitionId != null">
        flow_engine_definition_id = #{flowEngineDefinitionId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>